body {
            margin: 0;
            overflow: hidden; /* Prevents scrollbars from appearing */
        }

        canvas {
            display: block; /* Removes any default spacing around the canvas */
            background-color: #010A21; /* A nice dark blue background */
        }